{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


    <div class="example-wrapper">

        {% for msg in msguser %}

            <li>{{ msg.message}}</li>
            {% for hst in msg.hashtags %}
                {{ hst.keyword }}
            {% endfor %}
        {% endfor %}

    </div>
{% endblock %}