{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello ✅</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row form1">
        <div class="col-md-6 offset-md-4">

                {% for msg in messages %}
            <ul>
                    <li id="li2"><a href="{{ path('profil',{id: msg.user.id}) }}">{{ msg.user.pseudo}}</a> <span id="li1"> Le : {{ msg.date|date("d-m-Y") }}</span></li>
                    <li id="li3">" {{ msg.message }} "</li>
                    {% for hst in msg.hashtags %}
                         <a href="{{ path('hashtag',{id: hst.id}) }}">{{ hst.keyword }}</a>

                    {% endfor %}
            </ul>
                {% endfor %}

        </div>
    </div>

<div class="fixed-bottom">
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.hashtags) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ">
            {{ form_row(form.message) }}
        </div>
    </div>
    <input class="col-md-2 offset-md-1 btn btn1 " type="submit" value="Submit">
    {{ form_end(form) }}
</div>

</div>
{% endblock %}
