{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Hello {{ user.firstname }}✅</h1>

        <a href="{{ path('follow', {id:user.id}) }}">Follow</a>
        {% for msg in msguser %}

            <li>{{ msg.message}}</li>
        {% endfor %}

    </div>
{% endblock %}
