body {
    background-color: #9fa9b7;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;

}

ul {
    list-style-type: none !important;
    border:1px solid #00bb00;
    border-radius: 3px;
    box-shadow: 3px 5px 5px #20c997 ;
    background-color: #a5cee5 !important;
}

.fixed-bottom {
    overflow: hidden;
    margin-bottom: 100px !important;
}

.form1 {
    overflow: hidden;
    margin-bottom: 100px;
}